language: rust
cache: cargo
services:
  - postgresql
before_script:
  - psql -c 'create database bbapi;' -U postgres
  - psql --set ON_ERROR_STOP=on bbapi < db.sql -U postgres
  - mv .env.example .env
script:
  - cargo build
  - target/debug/bbapi&
  - PID=$!
  - curl "http://localhost:4321"
  - kill $PID